# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [89]:
# import libraries
import pandas as pd
import numpy as np

#### Import data set.

Read the dataset `pokemon.csv` into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [90]:
# import dataset

pokemon = pd.read_csv(r"G:\My Drive\Ironhack\lab-dataframe-calculation-and-transformation\data\Pokemon.csv")

#### Print first 10 rows of `pokemon`.

In [91]:
# your code here
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [92]:
# your code here
#cleaning column names
pokemon.columns = pokemon.columns.str.lower().str.replace(" ", "_").str.strip()

# creating new df with all types and count of appearances
type1_count = pokemon.groupby(["type_1"])[["#"]].agg("count").reset_index()
type1_count = type1_count.rename(columns={"type_1": "type", "#": "count_type1"})
type2_count = pokemon.groupby(["type_2"])[["#"]].agg("count").reset_index()
type2_count = type2_count.rename(columns={"type_2": "type", "#": "count_type2"})

type_count = pd.merge(type2_count,type1_count, how="outer")
type_count["total_count"] = type_count["count_type1"] + type_count["count_type2"]

# total number of types
type_count["type"].count()

# alternative solution:
# types = pokemon[["type_1", "type_2"]].fillna('').values.flatten()
# np.unique(types[types != '']).__len__()

18

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [93]:
# your code here
pokemon["name"] = pokemon["name"].replace(to_replace=r'.*(?=Mega)', value='', regex=True)

# test transformed data
pokemon.head(10)

,#,name,type_1,type_2,total,hp,attack,defense,sp._atk,sp._def,speed,generation,legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [94]:
# your code here
pokemon["a/d_ratio"] = round(pokemon["attack"] / pokemon["defense"],2)
pokemon

,#,name,type_1,type_2,total,hp,attack,defense,sp._atk,sp._def,speed,generation,legendary,a/d_ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.00
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.98
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.99
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.81
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,0.67
796,719,Mega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,1.45
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,1.83
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,2.67
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,0.92

#### Identify the pokemon with the highest `A/D Ratio`.

In [95]:
# your code here

pokemon.iloc[[pokemon["a/d_ratio"].idxmax()]]

,#,name,type_1,type_2,total,hp,attack,defense,sp._atk,sp._def,speed,generation,legendary,a/d_ratio
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.0

#### Identify the pokemon with the lowest A/D Ratio.

In [96]:
# your code here
pokemon.iloc[[pokemon["a/d_ratio"].idxmin()]]

,#,name,type_1,type_2,total,hp,attack,defense,sp._atk,sp._def,speed,generation,legendary,a/d_ratio
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,0.04

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [97]:
# your code here

#solution 1 -> where applied only to type_2 results in extra space
#pokemon["combo_type"] = pokemon["type_1"] + " " + pokemon["type_2"].where(pokemon["type_2"].notna(), "")


# solution 2 -> apply function to iterate over rows. Allows to access multiple columns
# pokemon['Combo Type'] = pokemon.apply(lambda row: f"{row['type_1']}-{row['type_2']}" if pd.notna(row['type_2']) 
#                             else row['type_1'], axis=1)
# pokemon


# solution 3 -> where used as if else statement
pokemon['Combo Type'] = np.where(pd.notna(pokemon['type_2']),
                            pokemon['type_1'] + '-' + pokemon['type_2'], 
                            pokemon['type_1'])
pokemon

,#,name,type_1,type_2,total,hp,attack,defense,sp._atk,sp._def,speed,generation,legendary,a/d_ratio,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.00,Grass-Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.98,Grass-Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.99,Grass-Poison
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.81,Grass-Poison
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.21,Fire
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,0.67,Rock-Fairy
796,719,Mega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,1.45,Rock-Fairy
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,1.83,Psychic-Ghost
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,2.67,Psychic-Dark
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,0.92,Fire-Water

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [98]:
# your code here
top_ad = pokemon.nlargest(5, "a/d_ratio")
top_ad

#pokemon.sort_values(by="a/d_ratio", ascending=False).head(5)

,#,name,type_1,type_2,total,hp,attack,defense,sp._atk,sp._def,speed,generation,legendary,a/d_ratio,Combo Type
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.00,Psychic
347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,4.50,Water-Dark
19,15,Mega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.75,Bug-Poison
453,408,Cranidos,Rock,NaN,350,67,125,40,30,30,58,4,False,3.12,Rock
348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,3.00,Water-Dark

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [99]:
# your code here
top_ad["Combo Type"].unique().tolist()

['Psychic', 'Water-Dark', 'Bug-Poison', 'Rock']

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [100]:
pokemon.dtypes
numerical_columns = pokemon.select_dtypes(include=['number']).columns
numerical_columns

Index(['#', 'total', 'hp', 'attack', 'defense', 'sp._atk', 'sp._def', 'speed',
       'generation', 'a/d_ratio'],
      dtype='object')

In [101]:
# your code here
pokemon.groupby(["Combo Type"])[numerical_columns].agg("mean").round(2)

,#,total,hp,attack,defense,sp._atk,sp._def,speed,generation,a/d_ratio
Combo Type,,,,,,,,,,
Bug,361.35,289.71,53.06,50.35,55.41,39.29,43.65,47.94,3.47,0.94
Bug-Electric,595.50,395.50,60.00,62.00,55.00,77.00,55.00,86.50,5.00,1.11
Bug-Fighting,214.00,550.00,80.00,155.00,95.00,40.00,100.00,80.00,2.00,1.64
Bug-Fire,636.50,455.00,70.00,72.50,60.00,92.50,80.00,80.00,5.00,1.24
Bug-Flying,286.29,419.50,63.00,70.14,61.57,72.86,69.07,82.86,2.86,1.15
...,...,...,...,...,...,...,...,...,...,...
Water-Ice,103.00,511.67,90.00,83.33,113.33,80.00,78.33,66.67,1.00,0.82
Water-Poison,118.67,426.67,61.67,68.33,58.33,61.67,91.67,85.00,1.33,1.16
Water-Psychic,111.80,481.00,87.00,73.00,104.00,94.00,79.00,44.00,1.20,0.78
Water-Rock,430.00,428.75,70.75,82.75,112.75,61.50,65.00,36.00,3.75,0.73
Water-Steel,395.00,530.00,84.00,86.00,88.00,111.00,101.00,60.00,4.00,0.98